[submodule "external/rulstm"]
	path = external/rulstm
	url = https://github.com/fpv-iplab/rulstm.git
[submodule "external/video_mamba_suite"]
	path = external/video_mamba_suite
	url = https://github.com/OpenGVLab/video-mamba-suite.git
